<% content_for(:html_title) { @user.username + "さんのページ" } %>
<h1><%= @user.username %>さんのページ</h1>
<p>@<%= @user.userid %></p>

<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user.userid) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    フォロー
  </a>
  ・
  <a href="<%= followers_user_path(@user.userid) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    フォロワー
  </a>
</div>

<%= render 'follow_form' if current_user %>
<div class="col-md-8">
  <% if @user.microposts.any? %>
    <h3>投稿数 (<%= @user.microposts.count %>)</h3>
    <div class="columns is-multiline microposts">
      <%= render @microposts %>
    </div>
    <%= will_paginate @microposts %>
  <% end %>
</div>

