<div class="navbar is-inline-flex is-transparent is-fixed-top">
  <div class="navbar-brand">
    <li class="navbar-item"><%= link_to image_tag("logo.svg", :size => "100x40", :alt => ""),root_path %><li>
  </div>
  <div class="navbar-item is-flex-touch">
    <% if user_signed_in? %>
      <li class="navbar-item"><%= link_to "ホーム",root_path %></li>
      <li class="navbar-item"><%= link_to '設定', edit_user_registration_path %></li>
      <li class="navbar-item"><%= link_to '一覧', users_path %></li>
      <li class="navbar-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li class="navbar-item"><%= link_to 'サインアップ', new_user_registration_path %></li>
      <li class="navbar-item"><%= link_to 'ログイン', new_user_session_path %></li>
      <li class="navbar-item"><%= link_to '一覧', users_path %></li>
    <% end %>
  </div>
</div>
